:root{
    --red:#be3144;
    --blue:#18416A;
    --navy:#002e5b;
    --black:#303841;
    --yellow:#fde428;
    --white:#ffffff;
    --lightgray:#f2f2f2;
    --font1:'Gabarito', sans-serif;
    
}
*{
    margin: 0;
}
body{
    font-family: var(--font1);
}
#navbar{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    background-color:var(--white); 
    align-items: center;
    position: relative;
    width: 100%;
}
#navbar img{
    width: 100px;
    height: 100px;
    padding-left: 30%;
}
#navbar img:hover{
    padding-left: 100%;
    transition: 0.4s;
}
.nav-links ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    padding:12px;
    margin:10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--red);
    transition: 0.6s;
}
.nav-links a:hover{
    padding: 15px;
    font-size: 22px;
    background-color: var(--navy);
}
.active a{
    background-color: var(--navy);
}
.maincontainer{
    width:100%;
    height: 100vh;
    position: relative;
    animation: slide 16s ease-in-out infinite;
    background-size:cover;
    background-repeat: no-repeat;
    animation-direction: normal;
}
.span1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: var(--navy);
    color: var(--white);
    opacity: 0.6;
}
.span1:after{
    content:"";
    animation: span 16s ease-in-out infinite;  
}
@keyframes span{
    0%,100%{
       content: "Welcome to the FinproUAE";
    }
    25%{
        content: "Tired of calling to inquire for Loans & other Finance Facilities? Make just one call to FINPRO & see the Magic!" ;
    }
    50%{
        content: "Here's the FINPRO for you!";
    }
    75%{
        content: "One-stop solution for all your Banking Needs";
    }
}
@keyframes slide{
    0%,100%{
        background-image: url(ss1.jpg);    
    }
    25%{
        background-image: url(ss2.jpg);
    }
    50%{
        background-image: url(ss3.jpg);
    }
    75%{
        background-image: url(ss4.jpg);
    }
}
.applynow{ 
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    align-items: center;   
    background-color: var(--navy);
    padding:22px;
    color: var(--white);
}
.applynow button{
    padding:16px;
    color: var(--navy);
    border: 1px solid black;
    cursor:default;
    font-size: 20px;
    font-family: var(--font1);
}
.applynow button:hover{
    transition: 0.5s;
    background-color: var(--red);
    font-size: 22px;
    color: var(--white);
    padding: 18px;
} 
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    color: var(--white);
    margin: auto;
    background-color: var(--navy);
}
.divv{
    display: flex;
}
.divv label, .divv input{
    padding: 10px;
    margin:10px;
    font-size: 25px;
    width:300px;
}
.divv input, .divv button{
    border: 1px solid black;
}
.divv button{
    width: 150px;
    padding: 10px;
    margin:20px;
    font-size: 20px;
    cursor: pointer;
    color: var(--navy);
    font-family: var(--font1);
}
.divv button:hover {
    background-color: var(--red);
    color: var(--white);
}
.divv button:active{
    transform: translateY(4px);
}
.divv select{
    padding: 10px;
    margin:10px;
    width:321px;
    font-size: 18px;
    cursor: pointer;
    font-family: var(--font1);
}
input[type=text], input[type=email],input[type=tel]{
    font-size: 15px;
    display: inline-block;
    width:300px;
    font-family: var(--font1);
}
.form {
    margin:2% 0;
    font-size: 30px;
    text-align: center;
}
 .container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px 50px 80px;
 }
.cards{
    margin: 0 30px 20px 0 ;
    float:left;
    text-align: justify;
    width:28%;
    line-height: 1.3; 
    padding: 15px;
}
.cards:hover{
    background-color: var(--lightgray);
    color: var(--black);
}
.cards p{
    font-size: 18px;
}
.card h1{
    background-color: var(--navy);
    color: var(--white);
    opacity: 0.6;
    margin: 60px 0 50px 0;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    color: var(--navy);
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.icon i{
    font-size: 33px;
}
.line{
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    background-color: var(--navy);
    padding: 50px 0;
    color: var(--white);
}
.line span{
    color: var(--yellow);
}
.clients{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image:url(ss5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 50px;
}
.client1{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(48,56,65,0.5);
    color: yellow;
    margin-bottom: 10px;
}
.client1 span{
    color: black;
}
.client2{
    display: flex;
    margin:  50px 0 30px 0 ;
    justify-content: space-around;
    font-size: 25px;
    align-items: center; 
}
.client2 div{
    display: flex;
    flex-direction: column;
}
.client2 span{
    font-size: 60px;
}
.auth h2{
    font-size: 35px;
    text-align: center; 
    margin-bottom: 50px;
    background-color: var(--navy);
    color: var(--white);
    opacity: 0.6;
}
.auth{
    padding-bottom:40px ;
}
.auth div{  
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
}
.contact{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}
.contact h2{
    padding: 40px 0;
    background-color: var(--lightgray);
}
.contact1 {
    display: flex;
    justify-content: space-around;
    line-height:1.5; 
    padding-bottom:30px ;
}
.ex{
    background-color: var(--lightgray);  
    padding-bottom: 30px;
}
.contact1 li{
    font-size: 20px;
}
.cont ul{
    list-style-type: none;
}
.cont h2, .cont i{
    color: var(--navy);
}
 .contact2 ul{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 80px;
    padding: 20px;
    background-color: var(--navy); 
    list-style-type: none;
    font-size: 22px;
 }
 .contact2 a{
    text-decoration: none;
    color: var(--white);
 }
 .contact2 a:hover{
    font-size: 24px;
 }
.dis{
    display: flex; 
    align-items:baseline;
    font-size: 18px;   
    padding: 50px 50px 30px 50px; 
}
.dis span{
    font-size: 20px;
    font-weight: 700;
    color: var(--red);
}
.copy{
    text-align: center;
    font-size: 20px;
    padding: 15px;
    background-color:  rgb(26, 24, 24);
    color: var(--white);
}
.copy a{
    color: var(--yellow);
    text-decoration: none;
}
.copy a:hover{
    font-size:22px ;
}
@media only screen and (max-width:850px){
    .dis{
        font-size: 15px; 
    }
    .copy{
        font-size: 15px; 
    }
    .copy a:hover{
        font-size:18px ;
    }
    .contact2 i{
        visibility: collapse;
    }
    .contact1 li{
        font-size: 18px;
    }
    .contact{
        font-size: 20px;
    }
    .client2 span{
        font-size: 50px;
    }
    .icon i{
        font-size: 25px;
    }
    .applynow{
        font-size: 20px;
    }.applynow button{
        font-size: 18px;
        padding: 12px;
    }
    .applynow button:hover{
        font-size: 20px;
        padding: 14px;
    }
    .span1{
        font-size: 18px;
    }
}
@media only screen and (max-width:480px){
    .cards p{
        font-size: 10px;
    }
    .dis{
        font-size: 12px; 
    }
    .divv{
        display: flex; 
        flex-direction: column;    
    }
    .copy{
        font-size: 12px; 
    }
    .copy a:hover{
        font-size:14px ;
    }
    .contact2 i{
        visibility: collapse;
    }
    .contact1 li{
        font-size: 15px;
    }
    .contact{
        font-size: 18px;
    }
    .contact2 a:hover{
        font-size: 20px;
        }
    .client2 span{
        font-size: 30px;
    }
    .icon i{
        font-size: 22px;
    }
    .applynow{
        font-size: 18px;
    }.applynow button{
        font-size: 16px;
        padding: 10px;
    }
    .applynow button:hover{
        font-size: 18px;
        padding: 12px;
    }
    .span1{
        font-size: 16px;
    }
    .contact2  ul{
        margin:0;
    }
}
@media only screen and (max-width:700px){
    .nav-links a{
        padding:8px;
        font-size: 15px;
    }
    .divv{
        display: flex; 
        flex-direction: column;    
        }
    #navbar img:hover{
        padding-left: 0;
        transition: 0s;
    }
    .contact2  ul{
        margin:0;
    }
}
@media only screen and (max-width:600px){
    .nav-links a{ 
        padding:8px;
        font-size: 12px;
    }
    .nav-links a:hover{
        padding: 10px;
        font-size: 13px;
    }
    #navbar img:hover{
        padding-left: 0;
        transition: 0s;
    }
    .applynow button{
        font-size: 16px;
        padding: 8px;
    }
    .applynow button:hover{
        font-size: 18px;
        padding: 10px;
    }
    .cards p{
        font-size: 15px;
    }
    .icon {
        font-size: 10px;
    }
    .icon i{
        font-size: 20px;
    }
    .line{
        font-size: 18px;
    }
    .client2 span{
        font-size: 33px;
        font-weight: 500;
    }
    .client1{
        font-size: 16px;
    }
    .auth h2{
        font-size: 25px;
    }
    .contact2  ul{
        margin:0;
        font-size:15px ;
    }
    .contact2 a:hover{
        font-size: 16px;
        margin: 0;
        }
    .divv{
        display: flex; 
        flex-direction: column;    
        }
    .divv label, .divv input{
        font-size: 20px;
    }
    input[type=text], input[type=email],input[type=tel]{
        font-size: 14px;
    }
    .form {
    
        font-size: 25px;
    }
    .contact1 {
        display: flex;
        flex-direction: column;
        
    }
}